.App {
  text-align: center;
}

.background {
  position: relative; 
  overflow: hidden; 
  min-height: 100vh; /* Garantir que a altura mínima ocupe toda a tela */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background: 
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
    url('https://i.imgur.com/a1H8VAa.jpeg');
  background-size: cover; /* A imagem de fundo cobre todo o espaço */
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; /* Imagem fixa ao rolar */
}
